@import url(normalize.css);
@import url(header.css);
@import url(main.css);
@import url(trends.css);
@import url(dev.css);

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;

}

.wrapper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(26, 14, 1, 1) 100%);
  width: 100%;
}

.container {
  min-width: 1160px;
  padding: 0 147px;
}