@import url(normalize.css);
@import url(main_page/header.css);
@import url(main_page/main.css);
@import url(main_page/trends.css);
@import url(main_page/dev.css);
@import url(main_page/recent.css);
@import url(main_page/footer.css);
/* /index page */
@import url(about_page/main_about.css);
@import url(about_page/post_about.css);
@import url(about_page/team_about.css);
/* /about page */
@import url(portfolio_page/results.css);
@import url(portfolio_page/video.css);
@import url(portfolio_page/posts.css);
/* /portfolio page */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 187.5%;
  color: #ffffff;
  overflow-x: hidden;
}

.wrapper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(26, 14, 1, 1) 100%);
  width: 100%;
}

.container {
  min-width: 1160px;
  padding: 0 147px;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 187.5%;
}

/* buttons */
.btn {
  padding: 12px 30px;
  background: linear-gradient(#FA8305 0%, #FB9E3C 100%);
  border-radius: 40px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}

.btn__see {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 11%);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

/* /buttons */

/* page navigation */
.navigation {
  font-size: 16px;
  font-weight: 400;
}

.navigation_current {
  color: #E47500;
}

/* /page navigation */

/* email form block */
.subscribe {
  padding: 105px 0 163px;
}

.subscribe__title {
  font-size: 30px;
  font-weight: 600;
}

.subscribe__text {
  max-width: 545px;
  margin-top: 32px;
  font-size: 16px;
  word-wrap: break-word;
}

.email {
  margin-top: 74px;
  padding: 40px 56px;
  background-color: #1C140F;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* background for portfolio page */
.email_gray {
  background-color: #1B1B1B;
}

.email__about {
  max-width: 520px;
}

.email__title {
  font-weight: 500;
}

.email__text {
  margin-top: 15px;
  font-size: 17px;
  word-wrap: break-word;
}

.email-form {
  position: relative;
}

.email-form__input {
  padding: 14px 189px 14px 25px;
  font-size: 14px;
  color: #898989;
  outline: none;
  border: none;
  border-radius: 8px;
}

.email-form__btn {
  padding: 9px 22px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: #DC7000;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 6px;
  right: 5px;
}

/* /email form block */