.main {
   display: flex;
}

.main__text-block {
   max-width: 527px;
   min-height: 512px;
   margin-top: 117px;
}

.main__title {
   font-weight: 700;
   font-size: 20px;
   color: #E87D0E;
}

.main__slogan {
   margin-top: 17px;
   font-weight: 700;
   font-size: 50px;
   line-height: 155%;
   word-wrap: break-word;
}

.main__text {
   margin-top: 26px;
   font-weight: 500;
   line-height: 200%;
}

.main__btn {
   padding: 15px 30px;
   margin-top: 50px;
   background: linear-gradient(#FA8305 0%, #FB9E3C 100%);
   border-radius: 40px;
   text-decoration: none;
   color: #ffffff;
   font-weight: 500;
   display: inline-block;
}

.main__img {
   position: absolute;
   top: 0;
   right: 45px;
   z-index: -1;
}

.main__img_unity {
   position: absolute;
   top: 410px;
   right: 750px;
}

.main__img_cry {
   position: absolute;
   top: 205px;
   right: 555px;
}

.main__img_unreal {
   position: absolute;
   top: 218px;
   right: 260px;
}