.main {}

.about {
  max-width: 527px;
  min-height: 512px;
  margin-top: 117px;
}

.about__title {
  font-weight: 700;
  font-size: 20px;
  color: #E87D0E;
}

.about__slogan {
  margin-top: 17px;
  font-weight: 700;
  font-size: 50px;
  line-height: 155%;
  word-wrap: break-word;
}

.about__text {
  margin-top: 26px;
  font-weight: 500;
  line-height: 200%;
}

.btn {}

.about__btn {
  padding: 15px 30px;
  margin-top: 50px;
  background: linear-gradient(#FA8305 0%, #FB9E3C 100%);
  border-radius: 40px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}