.header {
  padding: 45px 55px 0 55px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 29px;
  font-weight: 800;
  text-transform: uppercase;
}

.header__nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-item {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.header__nav-item_checked::before {
  content: '';
  height: 4px;
  width: 31px;
  background-color: #DC7000;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  left: -15px;
  transition: all 0.5s ease;
}

.header__nav-item_checked::after {
  content: '';
  height: 4px;
  width: 5px;
  background-color: #DC7000;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  left: 20px;
  transition: all 0.5s ease;
}

.header__nav-item_btn {
  padding: 11px 28px;
  background-color: #FA9021;
  border-radius: 6px;
}