.main {
  display: flex;
}

.main__text-block {
  max-width: 527px;
  min-height: 512px;
  margin-top: 117px;
}

.main__text-block .btn {
  margin-top: 50px;
}

.main__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #E87D0E;
}

.main__slogan {
  margin-top: 17px;
  font-weight: 700;
  font-size: 50px;
  line-height: 155%;
  word-wrap: break-word;
}

.main__text {
  margin-top: 26px;
  font-weight: 500;
}

.main__img_joystick {
  position: absolute;
  top: 0;
  right: 45px;
  z-index: 1;
}

.main__img_unity {
  position: absolute;
  top: 410px;
  right: 750px;
}

.main__img_cry {
  position: absolute;
  top: 205px;
  right: 555px;
}

.main__img_unreal {
  position: absolute;
  top: 218px;
  right: 260px;
}