.recent {
  padding-top: 141px;
}

.recent__projects {
  text-align: center;
}

.recent__title {
  font-size: 30px;
}

.recent__subtitle {
  width: 497px;
  margin: 15px auto 0;
  font-size: 14px;
  font-weight: 400;
}

.recent__items {
  margin-top: 71px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 27px;
  row-gap: 33px;
}

.recent .btn__see {
  margin-top: 73px;
}