.about-main {
  position: relative;
}

.about-main__wrapper {
  display: flex;
}

.about-main__info {
  width: 425px;
  margin-top: 132px;
}

.about-main__nav {
  font-size: 12px;
  font-weight: 400;
}

.about {
  color: #E47500;
}

.about-main__title {
  margin-top: 38px;
  font-size: 30px;
  font-weight: 700;
  line-height: 180.5%;
  color: #ffffff;
}

.about-main__text {
  margin-top: 25px;
  font-size: 15px;
  line-height: 208.5%;
}

.about-main__btn {
  margin-top: 57px;
}

.about-main__btn::after {
  content: url(../../img/icons/arrow-right.svg);
  margin-left: 18px;
}

.about-main__slider {
  width: 739px;
  height: 656px;
}

.about-main__img {
  position: absolute;
  top: 34px;
  right: 0;
}


.about-main__toggle {
  width: 180px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  position: absolute;
  bottom: -30px;
  right: 560px;
}

.about-main__toggle a {
  width: 12px;
  height: 12px;
}

.about-main__toggle img {
  display: block;
}

.about-main__toggle_left {
  margin-right: 30px;
}

.about-main__toggle_right {
  margin-left: 30px;
}